.publication {
  padding: 24px;
  border: 1px none #e6ecf1;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
}

.publication h2 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.publication p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  max-height: 60vh;
  overflow: auto;
}

.publication button {
  border: none;
  background-color: transparent;
  color: #0270b6;
  font-weight: 700;
  padding-bottom: 4px;
}
.publication button:hover {
  text-decoration: underline;
}
